/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: transparent;
  color: #ffffff;
  cursor: pointer;
  min-width: 200px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Form modal */
.modal-form {
  padding: 40px;
}

.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  padding-left: 42px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

@media screen and (min-width: 479px) {
  .modal-form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__input-icon {
  position: absolute;
  top: 38px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: #2196f3;
}

.modal-form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form__checkbox-text {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__checkbox:checked + .modal-form__checkbox-text {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/iconcheck3.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__link {
  font-size: 12px;
  line-height: 1.16;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__btn {
  padding: 10px 55px 10px 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: transparent;
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  padding: 48px 15px 48px 40px;
  top: 0;
  z-index: 99;
}

.mob-menu.is-open {
  display: block;
  display: flex;
}

.mob-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: #2196f3;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link_current {
  color: #2196f3;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts-list {
  margin-bottom: 64px;
}

.menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-soc-list {
  display: flex;
}

.menu-soc__link_decor::after {
  content: ' ';
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.menu-soc__item {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__close-button:hover {
  fill: #2196f3;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_white {
  color: #ffffff;
}

.logo_black {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.site-nav__link_current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  bottom: -1px;
  right: 0px;
}

/* Site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.site-nav__link_current {
  color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* Contacts */
.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .contacts-header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
  }
}

.contacts-header__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-header__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.contacts-header__link {
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header__link:hover, .contacts-header__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts-header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 400px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.hero__btn {
  text-align: center;
  padding: 11px 32px 9px;
}

.features {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    margin-left: calc(-1 * 30px);
    flex-wrap: wrap;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__block {
  display: flex;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 120px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  color: #757575;
  font-size: 13px;
  line-height: 1.71;
  margin: 0;
}

.section__works {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .section__works {
    display: none;
  }
}

.works {
  display: flex;
  margin-left: calc(-1 * 30px);
}

.works__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.works__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.works__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.command__section {
  background-color: #f5f4fa;
}

.command {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .command {
    display: flex;
    margin-left: calc(-1 * 30px);
    flex-wrap: wrap;
  }
}

.command__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .command__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.command__box-wrapper {
  padding: 30px 32px;
}

.command__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.command__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:focus, .social-list__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.clients-list__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-list__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    height: 92px;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
}

.footer-content {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  max-width: 1600px;
}

@media screen and (min-width: 1200px) {
  .footer-content {
    margin: 0 auto;
  }
}

.contacts__blok {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts__blok {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.footer-blok {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-blok {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .container__contacts {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container__contacts {
    margin-bottom: 0;
  }
}

/* Footer Address */
.contacts-footer {
  list-style: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer__link:hover, .contacts-footer__link:focus {
  color: #2196f3;
}

.contacts-footer__location {
  color: #ffffff;
}

.contacts-footer__communications {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.footer-social__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: #ffffff;
}

.footer-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-form__user-email {
  color: #ffffff;
}

.footer-form__input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  padding: 0;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  padding: 10px 28px 10px 29px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    display: inline-flex;
    margin: 0;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0px;
  }
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  border-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio {
    flex-wrap: wrap;
    display: flex;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

.portfolio__item {
  width: 100%;
  position: relative;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .portfolio__item:nth-last-child(n + 1) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms ease cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__link:hover, .portfolio__link:focus {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__top-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__top-text {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.55;
  margin: 0;
}

.portfolio__bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}

.portfolio__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.portfolio__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */