.logo {
  color: $accentColor;
  font-family: $secondaryFont, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo_white {
  color: $rareColor;
}

.logo_black {
  color: #000000;
}
