.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .modal {
      transform: scale(2);
    }
  }
}

.modal {
  min-height: 609px;
  background-color: $rareColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 528px;
  //   min-height: 581px;
  // }
}

.modal__close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    fill: $accentColor;
  }
}
