$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$rareColor: #ffffff;
$marginSetGap: 30px;
$sectBgColor: #f5f4fa;
$socLinkColor: #afb1b8;
$mainFont: 'Roboto';
$secondaryFont: 'Raleway';
